<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fotbal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input [(ngModel)]="userInput" placeholder="Hledej podle názvu týmu..."></ion-input>
    <ion-button (click)="btnSportClicked()" expand="block" > Hledej </ion-button>

  <!--  <ion-list>
        <ion-item >
          
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <p>Premier League</p>
        <div class="item-note" slot="end">
        <p>anglie</p>
        </div>
        </ion-item>
        <ion-item >
            <p>Bundesliga</p>
        </ion-item>
        <ion-item >
            <p>Serie A</p>
        </ion-item>
        <ion-item >
            <p>French Ligue 1</p>
        </ion-item>
        <ion-item >
            <p>La Liga</p>
        </ion-item>
    </ion-list>
  -->
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
    <ion-item button (click)='onLigaClick(item.note)' >
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
    </ion-item>
  </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
