<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Domů
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>SISEL - Super Intend Sport Event List aplikace</p>
  <ng-container *ngIf="loadzdb != null">
      <ng-container *ngFor="let item of loadzdb; let i=index;">
      <ion-item >
      {{item.name}} <br> 
      {{item.date}} od: {{item.time}}
      </ion-item>
    </ng-container>
  </ng-container>



</ion-content>
